<h1>New Product</h1>

<form action="/home/add" method="post">
    <div>
        <label for="PName"> Name </label>
        <input type="text" id="PName" name="ProductName" />
    </div>

    <div>
        <label for="PCost"> Price </label>
        <input type="text" id="PCost" name="Cost" />
    </div>

    <div>
        <label for="PStock"> Stock </label>
        <input type="text" name="Stock"  id="PStock"/>
    </div>

    <div>
        <label for="PCId"> CategoryId </label>
        <input type="text" name="CategoryId" id="PCId" />
    </div>


    <div>
        <button type="submit"> Add </button>

    </div>




</form>
